# Virtual environments
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Raw datasets
data/*.csv
data/*.zip

# Environment / secrets
.env

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs / temporary files
*.log
*.tmp